body {
  background-color: rgb(222, 235, 235);
  text-align: center;
}
.main-container {
  display: flex;
}

.game-container {
  width: 70%;
  height: 100vh;
  /* background-color: blanchedalmond; */
}

.result-container {
  margin-left: 3rem;
  min-width: 30%;
  min-height: 50vh;
  background-color: rgb(107, 196, 196);
  box-shadow: 1px 1px 2px burlywood;
  border-radius: 10px;
}

.scoreContainer {
  min-height: 15vh;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  height: 18rem;
  gap: 2rem;
}

.scissor:hover {
  opacity: 50%;
}
.rock:hover {
  opacity: 50%;
}
.paper:hover {
  opacity: 50%;
}

.img {
  border-radius: 60%;
  width: 14vw;
  height: 25vh;
  background-size: cover;
  margin: 1rem;
}

.persons {
  text-align: center;
  margin: 2rem;
}

.displayResult {
  background-color: rgb(70, 116, 101);
  height: 11rem;
  text-align: center;
  margin: 2rem;
  border: 2px solid black;
  box-shadow: 2px 2px 2px 2px #464444;
}

.result {
  font-size: 2rem;
}

.tryAgainBtn {
  background-color: rgb(70, 116, 101);
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
  border-radius: 20px;
}
.tryAgainBtn:hover {
  opacity: 50%;
}
.btnDisplay,
.winImage,
.loseImage,
.mainImage {
  display: none;
}
